{extends layout.latte}

{block title}Semestrálny projekt{/block}

{block body}
    <div class="container">
        <h2 align="center" class="">Mendelova univerzita v Brně
            Provozně ekonomická fakulta</h2><br>
        <h1 align="center">Semestrálny projekt z predmetu APV</h1><br>

            <h2 align="center">Kudla Vitalii</h2><br>
            <h3 align="center">Brno 2021</h3>

        <form action="{link redir}" method="post">
        </form>
    </div>
{/block}