{block menu}
<nav>
    <ul>
        <li><a href="{link index}">Home</a></li>
        <li><a href="{link persons}">Persons</a></li>
        <li><a href="{link meetings}">Meetings</a></li>
    </ul>
</nav>
{/block menu}